table {
    border-collapse: collapse; /* This property ensures that adjacent cells share borders */
    width: 1178px;
    border: 1px solid black;
    margin-left: 0px;
  }
  
  th, td {
    border: 1px solid black; /* 1px solid border with a light gray color */
    padding: 8px; /* Adjust the padding as needed */
    text-align: left; /* Adjust text alignment as needed */
  }
  